body {
    margin-bottom: 80px; 
}

#actionHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; 
}

#sumContainer {
    text-align: center;
}

.summary p {
    margin: 0; 
}

@media (max-width: 768px) {
    #actionHeader {
        flex-direction: column;
    }
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px; 
    line-height: 30px; 
    background-color: #f5f5f5;
}

.chart {
    width: 50% !important; 
    height: auto !important; 
    margin: 0 auto; 
}


.modal-header {
    background: #70777e;
    color: white;
}

.modal-body {
    background-color: #f8f9fa;
    border-top: 5px solid #70777e; 
}

.btn-close {
    filter: invert(1); 
}

.modal-header.bg-success {
    background-color: #28a745;
}

.btn-close-white {
    filter: invert(1); 
}

.modal-body {
    padding: 20px;
    background-color: #fff; 
}

.modal-content {
    border: 1px solid #28a745; 
}

.btn-success {
    background-color: #28a745;
    border-color: #28a745;
}

.bi {
    margin-right: 5px; 
}
